
body {
  background:  #0a8bda;
  font: 18px "Arial", Futura, sans-serif;
  margin: 40px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #d3bad2;
  border: 3px solid #345;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #3331e3;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
